In [20]:
def bubble(e,key=None):
    size=len(e)
    for i in range(size-1):
      swap=False
      for j in range(size-1-i):
        if e[j][key]>e[j+1][key]:
          tmp=e[j]
          e[j]=e[j+1]
          e[j+1]=tmp
      if not swap:
        break

In [9]:
e=[
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

In [29]:
bubble(e,key="transaction_amount")

In [30]:
e

[{'device': 'vivo', 'name': 'kathy', 'transaction_amount': 200},
 {'device': 'google pixel', 'name': 'dhaval', 'transaction_amount': 400},
 {'device': 'iphone-8', 'name': 'aamir', 'transaction_amount': 800},
 {'device': 'iphone-10', 'name': 'mona', 'transaction_amount': 1000}]

In [2]:
def bubble_sort(elements, key=None):
    size = len(elements)

    for i in range(size-1):
        swapped = False
        for j in range(size-1-i):
            a = elements[j][key]
            b = elements[j+1][key]
            if a > b:
                tmp = elements[j]
                elements[j] = elements[j+1]
                elements[j+1] = tmp
                swapped = True

        if not swapped:
            break

In [3]:
if __name__ == '__main__':
    elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

In [27]:
 bubble_sort(elements, key='transaction_amount')

In [28]:
elements

[{'device': 'vivo', 'name': 'kathy', 'transaction_amount': 200},
 {'device': 'google pixel', 'name': 'dhaval', 'transaction_amount': 400},
 {'device': 'iphone-8', 'name': 'aamir', 'transaction_amount': 800},
 {'device': 'iphone-10', 'name': 'mona', 'transaction_amount': 1000}]